{% extends "PageBundle:base.html.twig" %}
{% block pageTitle %}
   Wyszukiwanie  {{ parent()}}
{% endblock %}
{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block pageDesc %}

{% endblock %}
{% block pageKeywords %}

{% endblock %}
{% block JavaScripts %}
    {{ parent()}}

{% endblock %}


{% block pageContainer %}
    <div class="panel panel-default">
        <div class="panel-body">


        </div>
    </div>
{% endblock %}