
{% extends "PageBundle:Email:base.html.twig" %}
{% block pageTitle %}
    Resetowanie hasła  {{ parent()}}
{% endblock %}
{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block pageDesc %}

{% endblock %}
{% block pageKeywords %}

{% endblock %}
{% block JavaScripts %}
    {{ parent()}}

{% endblock %}


{% block pageContainer %}

    <h1>Resetowanie hasła</h1>
    Twoje nowe hasło to: <span style="font-weight: bold">{{ plainPasswd }}</span>

{% endblock %}