{% extends "PageBundle:base.html.twig" %}
{% block pageTitle %}
       Regulamin  {{ parent()}}
{% endblock %}
{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block pageDesc %}
    Szukasz najnowszych seriali lub filmów online? Świetnie! Gdzie-Ogladac.pl to najlepsza strona z linkami do najpopularniejszych seriali i filmów. Wszystko za darmo i bez rejestracji.

{% endblock %}
{% block pageKeywords %}
    gdzie oglądać filmy online, gdzie oglądać filmy, gdzie oglądać seriale, seriale online, filmy online, filmy online bez rejestracji, seriale online bez rejestracji, gdzie, oglądać, darmowe, seriale, online, bez, rejestracji, strona, linki, gdzie, ogladac, linki, serial, seriali, filmy, flim, filmów, najnowsze
{% endblock %}
{% block JavaScripts %}
    {{ parent()}}

{% endblock %}



{% block pageContainer %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Regulamin</h4>
        </div>
        <div class="panel-body">
            <article>

                <dl>
                   <dt> 1. POSTANOWIENIA OGÓLNE</dt>
                    <dd> 1.1 Gdzie-ogladac.pl przechowuje tylko odnośniki do zewnętrznych stron hostingowych. Serwis jedynie indeksuje znalezione w sieci odnośniki.Serwis nie przechowuje oraz nie umieszcza bezpośrednio plików na serwerach gdzie-ogladac.</dd>

                    <dd>  1.2. Użytkownicy dodając materiały w serwisie potwierdzają, że posiadają odpowiednie prawa autorskie do ich publikowania.</dd>

                    <dd>   1.3. W serwisie można dodawać tylko i wyłącznie linki do zewnętrznych serwisów udostępniających materiały.</dd>

                    <dd>    1.4. Wszelkie roszczenia prawne, własności intelektualnej należy kierować do serwisów hostujących materiały.</dd>
                    <dd>    1.5. PE. Artykuł 3 ust. 1 dyrektywy 2001/29/WE Parlamentu Europejskiego i Rady z dnia 22 maja 2001 r. wyroku stwierdził, że co do zasady zamieszczanie linków odsyłających do utworów chronionych prawem autorskim nie jest naruszeniem tego prawa przez osobę publikującą odnośnik. Trybunał odwołał się także do pojęcia „udostępniania publicznego” wskazując, iż jeżeli dane materiały zostały pierwotnie udostępnione w internecie w sposób nieograniczony, dla wszystkich jego użytkowników, to linkowanie do nich nie stanowi udostępniania utworu nowej publiczności. Trybunał wskazał także, iż dozwolone jest linkowanie w sposób umożliwiający zapoznawanie się z danymi utworami na stronie linkującej, czyli np. wstawianie miniaturki filmów, obrazków itp.</dd>

                    <dd>    1.6. W przypadku gdy jesteś właścicielem materiału i został on udostępniony bez twojej zgody, prosimy niezwłocznie o bezpośredni kontakt. W treści zgłoszenia powinny znaleźć się wymagane dane pozwalające na potwierdzenie prawa podmiotu zgłaszającego do materiału wideo/audio a także oświadczenie, że zawarte w zgłoszeniu informacje są prawdą pod groźbą odpowiedzialności karnej.</dd>

                    <dd>    1.7. Korzystanie z serwisu jest równoznaczne z akceptacją naszego regulaminu.</dd>

                    <dt> 2. UŻYTKOWNICY</dt>
                    <dd>2.1. Gdzie-ogladac pozwala użytkownikom na dodawanie odnośników do zewnętrznych witryn jednak odpowiedzialność za materiały, ich konsekwencje przesyłania oraz zamieszczania ponoszą wyłącznie serwisy przechowujące, publikujące dane materiały lub ich użytkownicy.</dd>

                    <dd>  2.2. Serwis zastrzega sobie prawo do usunięcia treści, materiałów, komentarzy zamieszczonych przez użytkownika bez podania przyczyny.</dd>

                    <dd>    2.3. Użytkownika obowiązuje ogólna netykieta internetu, kultura wypowiedzi z poszanowaniem innych użytkowników i ich stanowisk.</dd>

                    <dd>    2.4. Gdzie-ogadac zastrzega sobie prawo do zablokowania bądź usunięcia użytkownika nie przestrzegającego zasad regulaminu serwisu.</dd>


                     <dt> 3 ZMIANA REGULAMINU </dt>
                    <dd>    3.1 Wszelkie postanowienia Regulaminu mogą być w każdej chwili zmieniane przez Administratora, bez podawania przyczyn. Zmiany będą publikowane na bieżąco w postaci ujednoliconego tekstu Regulaminu na łamach Portalu wraz z informacją o ich dokonaniu.</dd>


                    <dd>     3.2 Po ukazaniu się na stronie głównej Portalu lub w innych miejscach do tego przeznaczonych w Portalu informacji o zmianach w Regulaminie, Użytkownik powinien niezwłocznie zapoznać się ze zmianami, gdyż zalogowanie do Portalu po takim ogłoszeniu stanowi bezwarunkową akceptację nowej treści Regulaminu przez Użytkownika.</dd>
                
                <dt> 4. DODAWANIE TREŚCI PRZEZ UŻYTKOWNIKÓW</dt>
                    <dd>4.1. Użytkownik dodając treści na portalu gdzie-ogladac.pl, czyli Wideo lub odnośniki do filmów jest zobowiązany do sprawdzenia, czy dany materiał został udostępniony w internecie nie łamiąc praw autorskich</dd>
                    <dd>4.2. W serwisie Gdzie oglądać udostępniane mogą być wyłącznie odnośniki do filmów, seriali lub anime, które zostały udostępnione legalnie.</dd>
                    <dd>4.3. Wszelkie materiały łamiące regulamin zostaną usunięte w trybie natychmiastowym, od stwierdzenia, że materiał narusza prawa autorskie.</dd>
                </dl>

            </article>

        </div>
    </div>
{% endblock %}